
{% extends 'base.html' %}

{% block content %}

{% if 'username' in session %}
  <h3>Welcome {{ session.username }}!</h3>

  <p><a href="{{ url_for('logout') }}">Log Out</a>
{% else %}

<div class="login-card">
  <h1>Log-in</h1><br>
  <form action="{{ url_for('home') }}" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="login" class="login login-submit" value="login">
  </form>
    
  <div class="login-help">
    <a href="#">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>

{% endif %}

{% endblock content %}